.App {
  text-align: center;
}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 80px;
}

.App-header {
  background-color: #2aabd2;
  height: 150px;
  padding: 20px;
  color: white;
  border-bottom:4px solid black;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.container {
  width:650px;
  margin:0 auto;
  text-align: left;
}

.User-field {
  font-size: larger;
  font-weight: bolder;
  color: darkblue;
}

.User-data {
  font-size: medium;
}
