/*
ul.elfMenu {
    background-color: #2aabd2;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.elfMenu li {
    background-color: #2aabd2;
}

.elfMenu li a {
    color: white;
    display: block;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
}

li a:hover {
    background-color: #1b6d85;
}

#menu-container {
    width:300px;
    height:100px;
    margin:0 auto;
    border-bottom:1px solid #2aabd2;
    border-radius:0 0 15px 15px;
    background-color: #2aabd2;
    margin-bottom:75px;
}*/
